In [ ]:
# 利用EULUC数据裁剪居民小区

In [1]:
# 初始化依赖包与qgis
import os
import numpy as np
import pandas as pd


import geopandas as gpd
import matplotlib.pyplot as plt

# import pyqgis
from qgis.core import *

# Supply path to qgis install location
QgsApplication.setPrefixPath('/Applications/QGIS-LTR.app/Contents/MacOS', True)

# Create a reference to the QgsApplication.  Setting the
# second argument to False disables the GUI.
qgs = QgsApplication([], False)

# Load providers
qgs.initQgis()

# Write your code here to load some layers, use processing
# algorithms, etc.

# Finally, exitQgis() is called to remove the
# provider and layer registries from memory


from qgis.analysis import QgsNativeAlgorithms
import processing
from processing.core.Processing import Processing
Processing.initialize()
QgsApplication.processingRegistry().addProvider(QgsNativeAlgorithms())
qgs.exitQgis()


# 获取属性表的函数
def getAttributeTable(vlayer):
    """ get attribute table of a vector layer.
    
    Args:
        vlayer : (QgsVectorLayer instance). vector layer

    returns:
         pandas DataFrame: attribute table
    """
    attribute_dict={}
    
    for field in vlayer.fields(): # 初始化各要素属性为空列表
        attribute_dict[field.name()] = []
        
    for feature in vlayer.getFeatures(): # 遍历矢量图层中个要素
        for field in vlayer.fields(): # 遍历各属性字段
            attribute_dict[field.name()].append(feature[field.name()]) # 添加属性字段值进入字典
            
            
    return pd.DataFrame(attribute_dict) #返回DataFrame

Logged warning: Duplicate provider native registered

In [18]:
input_path = '/Users/oo/Desktop/5.Learning/esri-ces-contest/Codes/input_data/sh_main'
sh_main_town_filepath = r'{}/sh_main_town.shp'.format(input_path)
sh_main_building_res_filepath = r'{}/sh_main_building_res.shp'.format(input_path)
sh_main_aoi_price_res_filepath = r'{}/sh_main_aoi_price_res.shp'.format(input_path)

sh_pop_town_table_filepath = r'/Users/oo/Desktop/5.Learning/esri-ces-contest/Codes/input_data/SH_Pop_Town.csv'


sh_main_town = QgsVectorLayer(sh_main_town_filepath, "Shanghai main town", "ogr")
sh_main_building_res = QgsVectorLayer(sh_main_building_res_filepath, "Shanghai building res", "ogr")
sh_main_aoi_price_res = QgsVectorLayer(sh_main_aoi_price_res_filepath, "Shanghai main aoi price", "ogr")

sh_pop_town_table = pd.read_csv(sh_pop_town_table_filepath, encoding='utf-8')
sh_main_town_attr = getAttributeTable(sh_main_town)
sh_main_building_res_attr = getAttributeTable(sh_main_building_res)
sh_main_aoi_price_res_attr = getAttributeTable(sh_main_aoi_price_res)

In [19]:
display(sh_pop_town_table.head())
display(sh_pop_town_table.info())

,gml_id,Name_town,layer,code_town,grade,code_front6,Name_county,code_county,houseprice,tot_pop,...,male,female,under_14,between_15_64,beyond_65,minor,birth_rate,death_rate,area,pop_dens
0,layer_township_pg.218,南京东路街道,乡镇,3.101010e+11,4,310101,黄浦区,3.101010e+11,84124.29091,66300.0,...,32694.0,33591.0,3977.0,52600.0,9726.0,859,0.00718,0.00895,2.41,27510.0
1,layer_township_pg.222,外滩街道,乡镇,3.101010e+11,4,310101,黄浦区,3.101010e+11,87609.72222,64900.0,...,33163.0,31733.0,3429.0,52800.0,8699.0,898,0.00817,0.00885,2.18,29771.0
2,layer_township_pg.224,半淞园路街道,乡镇,3.101010e+11,4,310101,黄浦区,3.101010e+11,86841.69524,89800.0,...,43573.0,46203.0,7186.0,70100.0,12505.0,964,0.00640,0.00910,2.87,31289.0
3,layer_township_pg.225,小东门街道,乡镇,3.101010e+11,4,310101,黄浦区,3.101010e+11,91726.36364,75000.0,...,37675.0,37319.0,5684.0,60600.0,8744.0,686,0.00756,0.00893,NaN,NaN
4,layer_township_pg.216,豫园街道,乡镇,3.101010e+11,4,310101,黄浦区,3.101010e+11,93868.23529,61000.0,...,30316.0,30726.0,4466.0,49434.0,7142.0,903,0.00798,0.00871,1.19,51261.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 0 to 250
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   gml_id         251 non-null    object
 1   Name_town      251 non-null    object
 2   layer          251 non-null    object
 3   code_town      251 non-null    float64
 4   grade          251 non-null    int64
 5   code_front6    251 non-null    int64
 6   Name_county    251 non-null    object
 7   code_county    251 non-null    float64
 8   houseprice     213 non-null    float64
 9   tot_pop        122 non-null    float64
 10  urban_rat      117 non-null    float64
 11  for_res        114 non-null    float64
 12  male           122 non-null    float64
 13  female         122 non-null    float64
 14  under_14       121 non-null    float64
 15  between_15_64  121 non-null    float64
 16  beyond_65      121 non-null    float64
 17  minor          120 non-null    object
 18  birth_rate     120 non-null    float64
 19  death_rate     120 non-null    float64
 20  area           121 non-null    float64
 21  pop_dens       121 non-null    float64
dtypes: float64(15), int64(2), object(5)
memory usage: 43.3+ KB

None

In [20]:
display(sh_main_town_attr.head())
display(sh_main_town_attr.info())

,gml_id,Name,layer,code,grade,x,y,面积
0,layer_township_pg.1,江桥镇,乡镇,310114118000,4,-14877.60,916.346,12408100.0
1,layer_township_pg.8,真新街道,乡镇,310114002000,4,-10416.30,1830.720,5083660.0
2,layer_township_pg.25,吴淞街道,乡镇,310113007000,4,2446.63,15658.100,9001200.0
3,layer_township_pg.26,淞南镇,乡镇,310113113000,4,1080.52,12480.400,14066700.0
4,layer_township_pg.27,大场镇,乡镇,310113102000,4,-7063.60,8098.840,31474000.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   gml_id  128 non-null    object
 1   Name    128 non-null    object
 2   layer   128 non-null    object
 3   code    128 non-null    object
 4   grade   128 non-null    int64
 5   x       128 non-null    float64
 6   y       128 non-null    float64
 7   面积      128 non-null    float64
dtypes: float64(3), int64(1), object(4)
memory usage: 8.1+ KB

None

In [21]:
display(sh_main_building_res_attr.head())
display(sh_main_building_res_attr.info())

  FLOOR     area  id
0     8   14.534   0
1     8  332.205   1
2     4  814.510   2
3     8  293.789   3
4     4  569.908   4

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196855 entries, 0 to 196854
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   FLOOR   196855 non-null  object
 1   area    196855 non-null  float64
 2   id      196855 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 4.5+ MB

None

In [25]:
display(sh_main_aoi_price_res_attr.head(1))
display(sh_main_aoi_price_res_attr.info())

,name,province,city,area,address,uid,detail_url,tag,wgs84_lng,wgs84_lat,行业大�,行业子�,Get_time,name_2,jnhpprice
0,上海财经大学-研究生公寓,上海市,上海市,宝山区,上海市宝山区三门路409号,00f1c7fb5384611ec156acab,http://api.map.baidu.com/place/detail?uid=00f1c7fb5384611ec156acab&output=html&source=placeapi_v2,房地产;宿舍,121.490871,31.314259,房地产,宿舍,2022-01-10 20:20:26,上海财经大学-研究生公寓,56987

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8293 entries, 0 to 8292
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        8293 non-null   object
 1   province    8293 non-null   object
 2   city        8293 non-null   object
 3   area        8293 non-null   object
 4   address     8293 non-null   object
 5   uid         8293 non-null   object
 6   detail_url  8293 non-null   object
 7   tag         8293 non-null   object
 8   wgs84_lng   8293 non-null   float64
 9   wgs84_lat   8293 non-null   float64
 10  行业大�        8293 non-null   object
 11  行业子�        8293 non-null   object
 12  Get_time    8293 non-null   object
 13  name_2      8293 non-null   object
 14  jnhpprice   8293 non-null   int64
dtypes: float64(2), int64(1), object(12)
memory usage: 972.0+ KB

None

- 给每个building要素连接街道字段
- 给每个building要素连接小区字段
- 计算每个building的几何面积
- 计算每个buidling的总面积 面积*楼层数 (总面积是三维叠加的面积)
- 计算每个building的总面积占全街道总面积的比重
- 计算每个building的人口数量, 总面积比重*全街道总人口
    - 相同方法计算,外来人口,男性,女性,三种年龄段,少数民族等

In [ ]:
temp_path = '/Users/oo/Desktop/5.Learning/esri-ces-contest/Codes/temp'
building_town_join = {'INPUT':sh_main_building_res, 
                      'JOIN':sh_main_town, 
                      'PREDICATE':0, 
                      'METHOD':0, 
                      'PREFIX':'town',
                      'OUTPUT': '{}/building_town_join.shp'.format(temp_path)}

processing.run('native:joinattributesbylocation', building_town_join)

In [ ]:
QgsVectorLayer('{}/building_town_join.shp'.format(temp_path, "Building Town Join", "ogr"))